{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-md-6">

    <form action="{{ url_for('generate') }}" method="POST" id="emailsForm">
      Drive Folder ID <input type="text" name="folder_id">
      <br>
      <textarea rows="10"  cols="50" placeholder="Enter each email on one line" 
                name="emails" form="emailsForm"></textarea>
      <br>
      <input type="submit" value="Generate">
    </form>
    <br>
    <div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
    </div>
  </div> <!-- col-md-6 -->

  <div class="col-md-6">
    {% if email_link %}
      <table>
        <tr>
          <th>Email</th>
          <th>Drive link</th>
        </tr>
        {% for item in email_link %}
          <tr>
            <td>{{ item }}</td>
            <td>{{ email_link[item] }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  </div> <!-- col-md-6 -->
</div>

{% endblock %}