{% extends "layout.html" %}
{% block body %}

<div class="row" style="margin-bottom:30px">
  <div class="col-md-6 col-md-offset-3">
    
    <!-- Begin Alert -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- End Alert -->

    <!-- Begin Instruction -->
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            What is VAQR Generator?</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body"><p>This web app generates a batch of QR code images from a list of
          email addresses then uploads these images to Google Drive.</p></div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            How do I find Google Drive folder ID?</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Folder ID is the last part of the URL of the corresponding folder. 
            For example, if your Google Drive folder URL is:</p>
            <p><code>https://drive.google.com/drive/u/1/folders/<mark>0B8_haa9G3iBlb0pxxnBCTzZ5R1k</mark></code></p>
            <p>Its corresponding folder ID is: <code><mark>0B8_haa9G3iBlb0pxxnBCTzZ5R1k</mark></code></p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Instruction -->

    <!-- Begin Form -->
    <form action="{{ url_for('generate') }}" method="POST" id="emails_to_qr">
      <div class="form-group">
        <label for="folder_id">Google Drive folder ID</label>
        <p>Remember to <a href="https://support.google.com/drive/answer/7166529?co=GENIE.Platform%3DDesktop&hl=en">share the folder</a> to the code recipients.</p>
        <input type="text" class="form-control" name="folder_id" aria-describedby="emailHelp"
               placeholder="Leave empty for root folder" value="{{ prev_folder_id }}">
      </div>
      <div class="form-group">
        <label for="emails">Email List</label>
        <textarea rows="5" placeholder="Enter one email per line" 
                  name="emails" form="emails_to_qr" class="form-control"></textarea>
      </div>
      <input type="submit" value="Generate" class="btn btn-primary">
    </form>
    <!-- End Form -->
    
  </div> <!-- div col offset -->
</div> <!-- div row -->

<div class="row">  
  <div class="col-md-8 col-md-offset-2">
    {% if email_link %}
    <table class="table"><thead>
      <td style="width:1%;white-space:nowrap;padding:0;">
        <table class="table" style="table-layout:fixed;width:250px;">
          <tr><th class="noselect">Email</th></tr>
          {% for item in email_link %}
            {% if 'http' in item[1] %}
            <tr class='success'>
            {% else %}
            <tr class='danger'>
            {% endif %}
              <td>{{ item[0] }}</td>
            </tr>
          {% endfor %}
        </table>
      </td>
      <td style="padding:0;">
        <table class="table">
          <tr><th class="noselect">Google Drive Links</th></tr>
          {% for item in email_link %}
            {% if 'http' in item[1] %}
            <tr class='success'>
            {% else %}
            <tr class='danger'>
            {% endif %}
              <td><a href="{{ item[1] }}">{{ item[1] }}</a></td>
            </tr>
          {% endfor %}
        </table>
      </td>
    </thead></table>
    {% endif %}
  </div> <!-- div col offset -->
</div> <!-- div row -->
{% endblock %}